<configuration scan="true">

  <property name="APP_LOG_DIR" value="/home/one/applogs" />  

  <!-- job specific log file, you can place where desired -->

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_DIR}/app1.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">

            <fileNamePattern>${APP_LOG_DIR}/app1.%i.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>20MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%-5level %date{ISO8601} %F:%L - %msg%n</pattern>
        </encoder>
   </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

 
 <!-- Reduce verbose INFO, turn up or down based need -->
 <logger name="org.apache.hadoop.hive.metastore" level="OFF"/>
 <logger name="com.datastax.bdp.hadoop.hive.metastore.CassandraHiveMetaStore" level="OFF"/>
 <logger name="com.datastax.driver" level="ERROR"/>
 <logger name="org.apache.hadoop.hive" level="ERROR"/>
 <logger name="org.eclipse.jetty" level="ERROR"/>
 <logger name="org.apache.hadoop.util.NativeCodeLoader" level="ERROR"/>
 <logger name="org.apache.spark" level="INFO"/> <!--set to INFO to show DAG, executor, task information or OFF hides -->
 <logger name="com.datastax.dse" level="INFO"/>
 <logger name="org.apache.cassandra" level="OFF"/>
 <logger name="org.apache.spark.util.logging.FileAppender" level="OFF"/>
 <logger name="org.spark_project.jetty" level="WARN"/>
 <logger name="org.spark_project.jetty.util.component.AbstractLifeCycle" level="ERROR"/>
 <logger name="org.apache.parquet" level="ERROR"/>
 <logger name="parquet" level="ERROR"/>

 <!-- adjust as needed, setting level="DEBUG" is everything -->

 <root level="INFO">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" /> <!-- must have this here or you won't see some information that only gets printed to the console -->
 </root>
  



  
</configuration>
